<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>

<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">添加课程排期</div>
	
	#{form @CourseApplication.addTeamExerciseScheduleToDB(), onsubmit:"return check()"}
	<div style="margin-left:100px;">
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">门店：</span>
		<input id="storeid" name="storeid" class="easyui-combobox" data-options="
			editable:false,
			valueField:'id',
			textField:'name',
			url:'@{StoreApplication.getAllStore()}',
			prompt:'请选择一个门店',
			onSelect: function(record){
	            var url = '@{StoreApplication.getAllTuanClassroomByStoreId()}?storeid=' + record.id;
	            $('#classroomidq').combobox('reload', url);
	            url = '@{EmployeeApplication.getAllCoachByStoreID()}?storeid=' + record.id;
	            $('#employeeidq').combobox('reload', url);
        	}"  style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">教室：</span>
		<input id="classroomidq" name="classroomid" class="easyui-combobox" data-options="editable:false,valueField:'id',textField:'name',prompt:'请选择一个教室'"  style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">教练：</span>
		<input id="employeeidq" name="employeeid" class="easyui-combobox" data-options="editable:false,valueField:'id',textField:'name',prompt:'请选择一个教练'" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">课程：</span>
		<input id="teamexerciseid" name="teamexerciseid" class="easyui-combobox" data-options="editable:false,valueField:'id',textField:'name',url:'@{CourseApplication.getAllTeamExercise()}',prompt:'请选择一个课程'" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">可预约人数：</span>
		<input id="num" name="num" class="easyui-numberbox" data-options="required:true" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程安排：</span>
		<input id="begintime1" name="begintime1" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">--至--
		<input id="endtime1" name="endtime1" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">
		（必须为同一天）<br><br>
		<span style="font-size:14px;display:inline-block;width:100px"></span>
		<input id="begintime2" name="begintime2" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">--至--
		<input id="endtime2" name="endtime2" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">
		（必须为同一天）<br><br>
		<span style="font-size:14px;display:inline-block;width:100px"></span>
		<input id="begintime3" name="begintime3" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">--至--
		<input id="endtime3" name="endtime3" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">
		（必须为同一天）<br><br>
		<span style="font-size:14px;display:inline-block;width:100px"></span>
		<input id="begintime4" name="begintime4" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">--至--
		<input id="endtime4" name="endtime4" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">
		（必须为同一天）<br><br>
		<span style="font-size:14px;display:inline-block;width:100px"></span>
		<input id="begintime5" name="begintime5" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">--至--
		<input id="endtime5" name="endtime5" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" style="height:32px">
		（必须为同一天）<br><br>
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">消耗课时数：</span>
		<input id="consumenum" name="consumenum" class="easyui-numberbox" data-options="required:true" style="height:32px">
		</div>
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
</body>

<script>
function check() {
	var v;
	v = $("#storeid").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#classroomidq").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#employeeidq").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#teamexerciseid").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#num").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#begintime1").datetimebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#endtime1").datetimebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>

</html>