
<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">团操课程详情</div>
	
	<table border="0">
	<tr>
	<td>
	#{form @Application.updateTeamExerciseToDB(sc.id), onsubmit:"return check()", enctype:'multipart/form-data'}
	<div style="margin-left:100px;">
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程名称：</span>
		<input id="name" name="name" class="easyui-textbox" data-options="required:true" value="${sc.name}" style="height:32px">
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">课程图片：</span>
		<input name="imagefile" class="easyui-filebox" data-options="buttonText:'上传图片'" value="${sc.image}" style="height:32px">
		<input name="image" type="hidden" value="${sc.image}">
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程时长：</span>
		<input id="usedtime" name="usedtime" class="easyui-numberbox" data-options="required:true" value="${sc.usedtime}" style="height:32px">分钟
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">虐恋指数：</span>
		#{if sc.strength==1}
		<input type="radio" name="strength" value="1" checked required>1级
		#{/if}
		#{else}
		<input type="radio" name="strength" value="1" required>1级
		#{/else}
		#{if sc.strength==2}
		<input type="radio" name="strength" value="2" checked required>2级
		#{/if}
		#{else}
		<input type="radio" name="strength" value="2" required>2级
		#{/else}
		#{if sc.strength==3}
		<input type="radio" name="strength" value="3" checked required>3级
		#{/if}
		#{else}
		<input type="radio" name="strength" value="3" required>3级
		#{/else}
		#{if sc.strength==4}
		<input type="radio" name="strength" value="4" checked required>4级
		#{/if}
		#{else}
		<input type="radio" name="strength" value="4" required>4级
		#{/else}
		#{if sc.strength==5}
		<input type="radio" name="strength" value="5" checked required>5级
		#{/if}
		#{else}
		<input type="radio" name="strength" value="5" required>5级
		#{/else}
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">锻炼部位：</span>
		#{if sc.one==1}
		<input type="checkbox" name="parts"  value="1" checked>全身 
		#{/if}
		#{else}
		<input type="checkbox" name="parts"  value="1">全身 
		#{/else}
		#{if sc.two==1}
		<input type="checkbox" name="parts"  value="2" checked>臂力 
		#{/if}
		#{else}
		<input type="checkbox" name="parts"  value="2">臂力 
		#{/else}
		#{if sc.three==1}
		<input type="checkbox" name="parts"  value="3" checked>胸部 
		#{/if}
		#{else}
		<input type="checkbox" name="parts"  value="3">胸部 
		#{/else}
		#{if sc.four==1}
		<input type="checkbox" name="parts"  value="4" checked>腹部 
		#{/if}
		#{else}
		<input type="checkbox" name="parts"  value="4">腹部 
		#{/else}
		#{if sc.five==1}
		<input type="checkbox" name="parts"  value="5" checked>腿部 
		#{/if}
		#{else}
		<input type="checkbox" name="parts"  value="5">腿部 
		#{/else}
		</div> 
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">简介：</span>
		<textarea id="introduce" name="introduce" rows="8" cols="30">${sc.introduce}</textarea>
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">备注：</span>
		<input id="notice" name="notice" class="easyui-textbox" data-options="required:true" value="${sc.notice}" style="height:32px">
		</div>
		
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	</td>
	<td valign="top">
		<img src="/public/images/${sc.image}" alt="团操图片" width="200" height="200" style="margin:20px">
	</td>
	</tr>
	</table>
	
</body>

<script>
function check() {
	var v;
	v = $("#name").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#usedtime").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#introduce").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#notice").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>

</html>