<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
         
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>

<body>

<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">课程</div>
	
<a href="@{CourseApplication.addTeamExercise()}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:120px;height:32px;">增加单个团操</a>

<div style="margin:20px">
       <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
        <thead>
            <tr>
                <th data-options="field:'name',width:80">课程名称</th>
                <th data-options="field:'usedtime',width:80">时长</th>
                <th data-options="field:'operation',width:80">操作</th>
            </tr>
        </thead>
        <tbody>
        #{list items:lists, as:'TeamExercise'}
        	<tr>
	            <td>${TeamExercise.name}</td>
	            <td>${TeamExercise.usedtime}</td>
	            <td>
	            	<a href="@{CourseApplication.teamExerciseDetail(TeamExercise.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
	            	<a href="@{CourseApplication.deleteTeamExercise(TeamExercise.id)}" class="easyui-linkbutton" data-options="" style="" onClick="return confirmdelete()">删除</a>
	            </td>
	        </tr>
        #{/list}
        </tbody>
    </table>
   </div>
   
   <div style="margin:20px;font-size:15px;font-weight:600;">
   	共${number}条记录
</div>
<div style="margin:20px;font-size:15px;font-weight:600;">
   	---
</div>
	    
<script type="text/javascript">

function confirmdelete(){
	var gnl=confirm("信息一旦删除就没有了，你真的确定要删除吗?"); 
	if (gnl==true){ 
		return true; 
	} else {
		return false;
	}
}
</script>
    
</body>
</html>