<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
         
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>

<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">课程周课表</div>
	
	#{form @CourseApplication.teamExerciseWeekSearch()}
	<input id="storeid" name="storeid" class="easyui-combobox" data-options="
		editable:false,
		valueField:'id',
		textField:'name',
		url:'@{StoreApplication.getAllStore()}',
		prompt:'请选择一个门店'"  
	style="height:32px">
	<input type="submit" style="width:80px;height:32px" value="搜索">    
	#{/form}
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true">
	        <thead>
	            <tr>
	                <th data-options="field:'monday',width:80">星期一</th>
	                <th data-options="field:'tuesday',width:80">星期二</th>
	                <th data-options="field:'wednesday',width:80">星期三</th>
	                <th data-options="field:'thirsday',width:80">星期四</th>
	                <th data-options="field:'friday',width:80">星期五</th>
	                <th data-options="field:'saturday',width:80">星期六</th>
	                <th data-options="field:'sunday',width:80">星期七</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr>
		            <td>
		            #{list items:mapweek.get(1), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
		            	<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
		            <td>
		            #{list items:mapweek.get(2), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
						<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
		            <td>
		            #{list items:mapweek.get(3), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
		            	<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
		            <td>
		            #{list items:mapweek.get(4), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
						<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
		            <td>
		            #{list items:mapweek.get(5), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
		            	<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
		            <td>
		            #{list items:mapweek.get(6), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
		            	<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
		            <td>
		            #{list items:mapweek.get(7), as:'TeamExerciseSchedule'}
		            	时间：${TeamExerciseSchedule.begintime.substring(11,16)} -至-
		            	${TeamExerciseSchedule.endtime.substring(11,16)}<br/>
		            	门店：${TeamExerciseSchedule.storename}<br/>
		            	教练：${TeamExerciseSchedule.employeename}<br/>
		            	课程：${TeamExerciseSchedule.teamexercisename}<br/>
		            	<a href="@{CourseApplication.teamExerciseScheduleBookMember(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">查看报名</a>
		            	<a href="@{CourseApplication.teamExerciseScheduleResultWriteIn(TeamExerciseSchedule.id)}" class="easyui-linkbutton" data-options="" style="">录入成绩</a>
		            	<br/><br/>
		            #{/list}
		            </td>
	        	</tr>
	        </tbody>
	    </table>
    </div>
		
  
<script type="text/javascript">
function confirmdelete(){
	var gnl=confirm("信息一旦删除就没有了，你真的确定要删除吗?"); 
	if (gnl==true){ 
		return true; 
	} else {
		return false;
	}
}
</script>
    
</body>
</html>