<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">门店公告详情</div>
	
	#{form @Application.updateAnnouncementToDB(sc.id), onsubmit:"return check()"}
	<div style="margin-left:100px;">
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">公告名称：</span>
		<input id="name" name="name" class="easyui-textbox" data-options="required:true" value="${sc.name}" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">所属门店：</span>
		<input id="storeid" name="storeid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllStore()}',prompt:'请选择一个门店'" value="${sc.storeid}" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">开始时间：</span>
		<input id="starttime" name="starttime" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" value="${sc.starttime}" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">结束时间：</span>
		<input id="endtime" name="endtime" class="easyui-datetimebox" data-options="required:true,showSeconds:false,editable:false" value="${sc.endtime}" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">公告详情：</span>
		<textarea id="content" name="content" rows="8" cols="30">${sc.content}</textarea>
		</div>
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
</body>

<script>
function check() {
	var v;
	v = $("#storeid").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#name").val(); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#starttime").datetimebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#endtime").datetimebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#content").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>


</html>