<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>

<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">未过期的特训卡会员信息</div>
	
	#{form @MemberApplication.MemberSpecialSearchFen(storeid)}
	<select name="acardtype" class="easyui-combobox" style="height:32px;width:100px;">
		<option value="10">会员卡类型</option>
		<option value="1">月卡</option>
	    <option value="2">季卡</option>
	    <option value="3">半年卡</option>
	    <option value="4">年卡</option>
	    <option value="0">非会员(不存在过期与否)</option>	<!-- 这里特殊，0是非会员，所以全部种类用了10 -->
	</select>
	<select name="amembertype" class="easyui-combobox" style="height:32px;width:100px;">
		<option value="0">是否过期</option>
		<option value="1">在期会员</option>
		<option value="2">过期会员</option>
	</select>
	<input name="keyname" class="easyui-textbox" data-options="prompt:'搜姓名、微信名、手机号'" style="height:32px">
	<input type="submit" style="width:80px;height:32px" value="搜索">        
	#{/form}
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'name',width:80">姓名</th>
	                <th data-options="field:'id',width:50">ID</th>
	                <th data-options="field:'wechatname',width:100">微信名</th>
	                <th data-options="field:'wechatnumber',width:100">微信号</th>
	                <th data-options="field:'phone',width:100">电话</th>
	                <th data-options="field:'comeinpassword',width:100">入场密码</th>
	                <th data-options="field:'storename',width:70">所属门店</th>
	                <th data-options="field:'fitnesstest',width:80">体能测试</th>
	                <th data-options="field:'cardtype',width:100">会员种类</th>
	                <th data-options="field:'memberstatus',width:100">会员状态</th>
	                <th data-options="field:'leftcoursenum',width:60">剩余课时</th>
	                <th data-options="field:'operation',width:100">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:list, as:'Member'}
	        	#{if Member.openid != "baojieayi"}
	        	<tr>
		            <td>${Member.name}</td>
		            <td>${Member.id}</td>
		            <td>${Member.wechatname}</td>
		            <td>${Member.wechatnumber}</td>
		            <td>${Member.phone}</td>          
		            <td>${Member.comeinpassword}</td>
		            <td>${Member.storename}</td>
		            <td>${Member.fitnesstest}</td>
		            <td>${Member.cardtypename}</td>
		            <td>${Member.memberstatus}</td>
		            <td>${Member.leftcoursenum}</td>
		            <td>
		            	<a href="@{MemberApplication.MemberDetail(Member.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{MemberApplication.modifyMemberDeaddate(Member.id)}" class="easyui-linkbutton" data-options="" style="">编辑</a>
		            	<!--
		            	<a href="@{MemberApplication.deleteMember(Member.id)}" class="easyui-linkbutton" data-options="" style="" onClick="return confirmdelete()">删除</a> 
		            	 -->
		            </td>
		        </tr>
		        #{/if}
	        #{/list}
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px;font-size:15px;font-weight:600;">
    	共${number}条记录
	</div>
	
</body>

<script>
function confirmdelete(){
	var gnl=confirm("信息一旦删除就没有了，你真的确定要删除吗?"); 
	if (gnl==true){ 
		return true; 
	} else {
		return false;
	}
}
</script>

</html>