<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">搜索会员</div>
	
	<br/>
	<br/>
	
	#{form @MemberApplication.MemberFindFromDB()}
	<input name="keyname" class="easyui-textbox" data-options="prompt:'仅根据 姓名、微信名、手机号 三样快速定位搜索'" style="width:500px;height:32px">
	<input type="submit" style="width:80px;height:32px" value="搜索">        
	#{/form}
	
	<br/>
	<br/>		
	
	#{form @MemberApplication.MemberSearch()}
	<input id="storeid" name="storeid" class="easyui-combobox" data-options="
		editable:false,
		valueField:'id',
		textField:'name',
		url:'@{StoreApplication.getAllStore()}',
		prompt:'请选择一个门店'"  
	style="height:32px">
	<select name="acardtype" class="easyui-combobox" style="height:32px;width:120px;">
		<option value="10">全部会员种类</option>   <!-- 这里特殊，0是非会员，所以全部种类用了10 -->
		<option value="1">月卡</option>
	    <option value="2">季卡</option>
	    <option value="3">半年卡</option>
	    <option value="4">年卡</option>
	    <option value="5">299新人月卡</option>
		<option value="6">课程卡成员</option>
	</select>
	<select name="amembertype" class="easyui-combobox" style="height:32px;width:100px;">
		<!-- <option value="0">是否过期</option>  -->
		<option value="1">在期会员</option>
		<option value="2">过期会员</option>
	</select>
	<select name="asextype" class="easyui-combobox" style="height:32px;width:100px;">
		<option value="0">性别</option>
		<option value="1">男</option>
	    <option value="2">女</option>
	</select>
	<input name="keyname" class="easyui-textbox" data-options="prompt:'搜姓名、微信名、手机号'" style="height:32px">
	<input type="submit" style="width:80px;height:32px" value="搜索">        
	#{/form}
	
	<br/>
	<br/>	
	
	#{form @MemberApplication.NonMemberSearch()}
	<input type="submit" style="width:80px;height:32px" value="所有非会员">        
	#{/form}
	
	
	
</body>

</html>