<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">会员体能测试添加</div>
	
	<div style="margin:20px">
		#{form @MemberApplication.addMemberFitnessTestToDB(memberid)}
		是否测试过：
		<select name="fitnesstest" class="easyui-combobox" style="height:32px;width:100px;">
			<option value="已测">已测</option>
		    <option value="未测">未测</option>
		</select><br/><br/>
		
		<div style="margin:10px">
	        <table border="1" cellspacing="1">
		            <tr>
		                <th>胸围</th>
		                <th>腰围</th>
		                <th>臀围</th>
		                <th>上臀围</th>
		                <th>大腿围</th>
		                <th>小腿围</th>
		            </tr>
		        	<tr>
		        		<td><input type="text" name="xiongwei"></td>
		        		<td><input type="text" name="yaowei"></td>
		        		<td><input type="text" name="tunwei"></td>
		        		<td><input type="text" name="shangtunwei"></td>
		        		<td><input type="text" name="datuiwei"></td>
		        		<td><input type="text" name="xiaotuiwei"></td>
		        	</tr>
		    </table>
		    <br/>
		    <table border="1" cellspacing="1">
		            <tr>
		                <th>测试内容</th>
		                <th>数据</th>
		            </tr>
					<tr>
						<td>引体向上（男）</td>
						<td><input type="text" name="pullup"></td>
					</tr>
					<tr>
						<td>俯卧撑（男）</td>
						<td><input type="text" name="pushup"></td>
					</tr>
					<tr>
						<td>平板支撑（男）</td>
						<td><input type="text" name="plank"></td>
					</tr>
					<tr>
						<td>坐位体前屈</td>
						<td><input type="text" name="sitandreach"></td>
					</tr>
					<tr>
						<td>蹲起</td>
						<td><input type="text" name="squatandrise"></td>
					</tr>
					<tr>
						<td>仰卧起坐（女）</td>
						<td><input type="text" name="situp"></td>
					</tr>
					<tr>
						<td>哈佛台阶试验</td>
						<td>--------</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;--第1min心率</td>
						<td><input type="text" name="heartrateone"></td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;--第2min心率</td>
						<td><input type="text" name="heartratetwo"></td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;--第3min心率</td>
						<td><input type="text" name="heartratethree"></td>
					</tr>
			</table>
	    </div>
		
		<p><input type="submit" style="width:80px;height:32px" value="提交"></p>
		#{/form}
	</div>
	
    
</body>


</html>