<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">45天特训营购买次数</div>
	
	<div style="margin:20px">
		#{form @MemberApplication.MemberBuycountEditToDB(memberid)}
		姓名：
		<input name="edittime" class="easyui-textbox" data-options="readonly:true" style="" value="${sc.name}"><br/><br/>
		
		电话：
		<input name="phone" class="easyui-textbox" data-options="readonly:true" style="" value="${sc.phone}"><br/><br/>
		
		旧的剩余课程数量：
		<input name="oldbuycount" class="easyui-textbox" data-options="readonly:true" style="" value="${sc.buycount}"><br/><br/>
		
		新的课程数量是：
		<input name="newbuycount" class="easyui-textbox"><br/><br/>
		
		<input type="submit" style="width:80px;height:32px" value="更新">  
		#{/form}
	</div>
	
	
    
</body>


</html>