<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">会员种类修改</div>
	
	<div style="margin:20px">
		#{form @MemberApplication.addMemberCardtypeToDB(memberid)}
		姓名：
		<input name="edittime" class="easyui-textbox" data-options="readonly:true" style="" value="${ps.name}"><br/><br/>
		
		电话：
		<input name="phone" class="easyui-textbox" data-options="readonly:true" style="" value="${ps.phone}"><br/><br/>
		
		原来会员种类：
		<input name="oldcardtypename" class="easyui-textbox" data-options="readonly:true" style="" value="${ps.cardtypename}"><br/><br/>
		
		新的会员种类：
		<select name="newcardtype" class="easyui-combobox" style="height:32px;width:100px;">
			<option value="10">会员种类</option>
			<option value="1">月卡</option>
		    <option value="2">季卡</option>
		    <option value="3">半年卡</option>
		    <option value="4">年卡</option>
		    <option value="5">299新人月卡</option>
			<option value="6">课程卡成员</option>
		    <option value="0">非会员</option>	<!-- 这里特殊，0是非会员，所以全部种类用了10 -->
		</select><br/><br/>
		
		<input type="submit" style="width:80px;height:32px" value="更新">  
		#{/form}
	</div>
	
	
    
</body>


</html>