<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">添加教室</div>
	
	#{form @Application.addClassroomToDB(storeid)}
	<div style="margin-left:100px;">
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">教室名称：</span>
		<input name="name" class="easyui-textbox" data-options="" style="height:32px" required>
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">容纳人数：</span>
		<input name="holdnumber" class="easyui-numberbox" data-options="" style="height:32px" required>
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">用途：</span>
		<input type="radio" name="usage" value="1" required>团操
		<input type="radio" name="usage" value="2" required>私教
		</div>
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
	
</body>
</html>