<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">员工设置</div>
	
	#{form @EmployeeApplication.employeeSearch()}
	<input id="storeid" name="storeid" class="easyui-combobox" data-options="
			editable:false,
			valueField:'id',
			textField:'name',
			url:'@{StoreApplication.getAllStore()}',
			prompt:'请选择一个门店'"
			style="height:32px">
	<input type="submit" style="width:80px;height:32px" value="搜索">
    #{/form}
    
	<a href="@{EmployeeApplication.addEmployee()}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:80px;height:32px;">增加人员</a>
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'headimage',width:70">头像</th>
	                <th data-options="field:'name',width:80">姓名</th>
	                <th data-options="field:'sex',width:80">性别</th>
	                <th data-options="field:'phone',width:100">电话</th>
	                <th data-options="field:'identity',width:80">身份</th>
	                <th data-options="field:'storename',width:100">所属门店</th>
	                <th data-options="field:'password',width:100">入场密码</th>
	                <th data-options="field:'operation',width:80">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:list, as:'employee'}
	        	<tr>
		            <td><img src="/public/images/${employee.headimage}" alt="门店图像" width="20" height="20" style=""></td>
		            <td>${employee.name}</td>
		            <td>
		            #{if employee.sex==1}
		            	男
		            #{/if}
		            #{if employee.sex==2}
		            	女
		            #{/if}
		            </td>
		            <td>${employee.phone}</td>
		            <td>
		            #{if employee.ismanager==1}
		            	店长
		            #{/if}
		            #{if employee.isfinance==1}
		            	财务
		            #{/if}
		            #{if employee.iscoach==1}
		            	教练
		            #{/if}
		            </td>
		            <td>${employee.storename}</td>
		            <td>${employee.comeinpassword}</td>
		            <td>
		            	<a href="@{EmployeeApplication.employeeDetail(employee.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	#{if employee.ismanager == 0}
		            	<a href="@{EmployeeApplication.deleteEmployee(employee.id)}" class="easyui-linkbutton" data-options="" style="" onClick="return confirmdelete()">删除</a>
		            	#{/if}
		            </td>
		        </tr>
	        #{/list}
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px;font-size:15px;font-weight:600;">
    	共${number}条记录
	</div>
	
</body>

<script>
function confirmdelete(){
	var gnl=confirm("信息一旦删除就没有了，你真的确定要删除吗?"); 
	if (gnl==true){ 
		return true; 
	} else {
		return false;
	}
}
</script>

</html>