<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">添加健身计划</div>
	
	#{form @Application.addFitnessPlanToDB(style), onsubmit:"return check()"}
	<div style="margin-left:100px;">
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">计划类别：</span>
		<select name="style" class="easyui-combobox" data-options="disabled:true,readonly:false" style="height:32px;width:100px;">
		    <option value="3">团操健身</option>
		</select>
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">选择团操：</span>
		<input id="name" name="name" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllTeamExerciseScheduleAsJson()}',prompt:'团操名称、门店、教室、教练'" style="width:350px;height:32px">
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">适合人群：</span>
		<input type="radio" name="fitsex" value="1" required>男
		<input type="radio" name="fitsex" value="2" required>女
		</div>
		
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">数量：</span>
		<span>男生体重（kg）</span> <span style="margin-left:70px">女生体重（kg）</span> <span style="margin-left:70px">数量</span><br/><br/>
		<div style="margin-left:100px">
		<input name="geshu1" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px">-
		<input name="geshu2" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="geshu3" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px">-
		<input name="geshu4" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="geshu5" class="easyui-numberbox" data-options="required:true,showSeconds:false" style="width:60px;height:32px">个
		</div>
		<br/>
		<div style="margin-left:100px">
		<input name="fenzhong1" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px">-
		<input name="fenzhong2" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="fenzhong3" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px">-
		<input name="fenzhong4" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="fenzhong5" class="easyui-numberbox" data-options="required:true,showSeconds:false" style="width:60px;height:32px">min
		</div>
		<br/>
		<div style="margin-left:100px">
		<input name="keshu1" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px">-
		<input name="keshu2" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="keshu3" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px">-
		<input name="keshu4" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="keshu5" class="easyui-numberbox" data-options="required:true,showSeconds:false" style="width:60px;height:32px">课
		</div>
		</div>
		
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
	
</body>

<script>
function check() {
	var v;
	v = $("#name").combobox("getValue");
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>

</html>