<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">添加特训班</div>
	
	#{form @Application.addPrivateExerciseToDB(), onsubmit:"return check()", enctype:'multipart/form-data'}
	<div style="margin-left:100px;">
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程名称：</span>
		<input id="name" name="name" class="easyui-textbox" data-options="required:true" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">课程图片：</span>
		<input name="imagefile" class="easyui-filebox" data-options="buttonText:'上传图片'" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程周期：</span>
		<input id="weeks" name="weeks" class="easyui-numberbox" data-options="required:true" style="width:80px;height:32px">周
		<input id="period" name="period" class="easyui-numberbox" data-options="required:true" style="width:80px;height:32px">课
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程人数：</span>
		<input id="num" name="num" class="easyui-numberbox" data-options="required:true" style="height:32px">人
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程费用：</span>
		<input id="price" name="price" class="easyui-numberbox" data-options="required:true,precision:2" style="height:32px">元/人
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">门店：</span>
		<input id="storeid" name="storeid" class="easyui-combobox" data-options="
			valueField:'id',
			textField:'name',
			url:'@{Application.getAllStore()}',
			prompt:'请选择一个门店',
			onSelect: function(record){
	            var url = '@{Application.getAllPrivateClassroomByStoreId()}?storeid=' + record.id;
	            $('#classroomidq').combobox('reload', url);
	            url = '@{Application.getAllCoachByStoreID()}?storeid=' + record.id;
	            $('#employeeidq').combobox('reload', url);
        	}"  style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">教室：</span>
		<input id="classroomidq" name="classroomid" class="easyui-combobox" data-options="valueField:'id',textField:'name',prompt:'请选择一个教室'"  style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">教练：</span>
		<input id="employeeidq" name="employeeid" class="easyui-combobox" data-options="valueField:'id',textField:'name',prompt:'请选择一个教练'" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">上课时间：</span>
		<input id="classbegintime" name="classbegintime" class="easyui-datebox" data-options="required:true,editable:false" style="height:32px">--至--
		<input id="classendtime" name="classendtime" class="easyui-datebox" data-options="required:true,editable:false" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">训练时间：</span>
		每周：<input id="exerciseweeknum" name="exerciseweeknum" class="easyui-numberspinner" data-options="required:true,editable:false,min:1,max:7," style="width:80px;height:32px">
		几点几分：<input id="exercisebegintime" name="exercisebegintime" class="easyui-timespinner" data-options="required:true,editable:false" style="width:100px;height:32px">--至--
		几点几分：<input id="exerciseendtime" name="exerciseendtime" class="easyui-timespinner" data-options="required:true,editable:false" style="width:100px;height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">报名时间：</span>
		<input id="signbegintime" name="signbegintime" class="easyui-datebox" data-options="required:true,editable:false" style="height:32px">--至--
		<input id="signendtime" name="signendtime" class="easyui-datebox" data-options="required:true,editable:false" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">课程简介：</span>
		<textarea id="courseintroduce" name="courseintroduce" rows="8" cols="30"></textarea>
		</div>
		
		<div id="ddffgg" style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程安排：</span>
		<textarea id="courseplan" name="courseplan" rows="8" cols="30"></textarea>
		</div>
		
		<!-- 
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px"></span>
		<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="height:32px" onclick="addcourseplan()">添加课程安排</a>
		</div>
		 -->
		 
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">注意事项：</span>
		<textarea id="notice" name="notice" rows="8" cols="30"></textarea>
		</div>
		
		<div id="ggffdd" style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">健身步骤：</span>
		<textarea id="fitstep" name="fitstep" rows="8" cols="30"></textarea>
		</div>
		
		<!-- 
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px"></span>
		<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="height:32px" onclick="addfitstep()">添加健身步骤</a>
		</div>
		 -->
		 
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
#{/form}
	
</body>


<script>
function addcourseplan() {
	var txt = "<br/><br/>" + "<span style='font-size:14px;display:inline-block;width:100px'></span>" + "<input name='courseplan' class='easyui-textbox' data-options='required:true' style='height:32px'>(语句中不要含有逗号)";
	$("#ddffgg").append(txt);
	$.parser.parse('#ddffgg');
}

function addfitstep() {
	var txt = "<br/><br/>" + "<span style='font-size:14px;display:inline-block;width:100px'></span>" + "<input name='fitstep' class='easyui-textbox' data-options='required:true' style='height:32px'>(语句中不要含有逗号)";
	$("#ggffdd").append(txt);
	$.parser.parse('#ggffdd');
}

function check() {
	var v;
	v = $("#name").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#weeks").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#period").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#num").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#price").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#storeid").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#classroomidq").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#employeeidq").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#classbegintime").datebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#classendtime").datebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#exerciseweeknum").numberspinner("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#exercisebegintime").timespinner("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#exerciseendtime").timespinner("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#signbegintime").datebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#signendtime").datebox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#courseintroduce").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#courseplan").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>


</html>