#{extends 'main.html' /}

<div data-options="region:'center',split:false">

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">添加团操课程</div>
	
	#{form @Application.addTeamExerciseToDB(), onsubmit:"return check()", enctype:'multipart/form-data'}
	<div style="margin-left:100px;">
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程名称：</span>
		<input id="name" name="name" class="easyui-textbox" data-options="required:true" style="height:32px">
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">课程图片：</span>
		<input name="imagefile" class="easyui-filebox" data-options="buttonText:'上传图片'" style="height:32px">
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">课程时长：</span>
		<input id="usedtime" name="usedtime" class="easyui-numberbox" data-options="required:true" style="height:32px">分钟
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">虐恋指数：</span>
		<input type="radio" name="strength" value="1">1级
		<input type="radio" name="strength" value="2">2级
		<input type="radio" name="strength" value="3">3级
		<input type="radio" name="strength" value="4">4级
		<input type="radio" name="strength" value="5">5级
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">锻炼部位：</span>
		<input type="checkbox" name="parts"  value="1">全身 
		<input type="checkbox" name="parts"  value="2">臂力 
		<input type="checkbox" name="parts"  value="3">胸部 
		<input type="checkbox" name="parts"  value="4">腹部 
		<input type="checkbox" name="parts"  value="5">腿部 
		</div> 
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">简介：</span>
		<textarea id="introduce" name="introduce" rows="8" cols="30"></textarea>
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">备注：</span>
		<input id="notice" name="notice" class="easyui-textbox" data-options="required:true" style="height:32px">
		</div>
		
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
	
</div>

<script>
function check() {
	var v;
	v = $("#name").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#usedtime").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#introduce").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#notice").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>