<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">门店公告设置</div>
	
	<div style="margin:20px">
		#{form @Application.announcementSearch()}
		<input name="storeid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllStore()}',prompt:'请选择一个门店'" style="height:32px">
		<input name="astarttime" class="easyui-datebox" data-options="showSeconds:false,editable:false,prompt:'请选择开始时间'" style="height:32px">
	    <select name="astatus" class="easyui-combobox" style="height:32px;width:100px;">
			<option value="0">全部状态</option>
			<option value="1">进行中</option>
		    <option value="2">已发布</option>
		    <option value="3">已结束</option>
		</select>
	    <input name="announcementname" class="easyui-textbox" data-options="prompt:'搜索公告名称关键字'" style="height:32px">
	    <input type="submit" style="width:80px;height:32px" value="搜索">      
	    <a href="@{Application.addAnnouncement()}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:80px;height:32px;position:absolute;right:20px;">增加公告</a>
		#{/form}
	</div>
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'name',width:80">公告名称</th>
	                <th data-options="field:'storename',width:100">门店</th>
	                <th data-options="field:'starttime',width:100">开始时间</th>
	                <th data-options="field:'endtime',width:100">结束时间</th>
	                <th data-options="field:'status',width:100">状态</th>
	                <th data-options="field:'employeename',width:100">发布者</th>
	                <th data-options="field:'operation',width:100">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:listad, as:'announcementdisplay'}
	        	<tr>
		            <td>${announcementdisplay.name}</td>
		            <td>${announcementdisplay.storename}</td>
		            <td>${announcementdisplay.starttime}</td>          
		            <td>${announcementdisplay.endtime}</td>
		            <td>${announcementdisplay.status}</td>
		            <td>${announcementdisplay.employeename}</td>
		            <td>
		            	<a href="@{Application.announcementDetail(announcementdisplay.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{Application.deleteAnnouncement(announcementdisplay.id)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px;font-size:15px;font-weight:600;">
    	共${number}条记录
	</div>
	
</body>

</html>