#{extends 'main.html' /}

<div data-options="region:'center',split:false">

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">预约团操/特训班设置</div>
	
	<div style="margin:20px">
		<input name="store" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllStore()}',prompt:'请选择一个门店'" style="width:120px;height:32px">
		<select name="classtype" class="easyui-combobox" style="height:32px;width:120px;">
			<option value="0">全部课程种类</option>
			<option value="1">团操</option>
		    <option value="2">特训班</option>
		</select>
		<input name="exerciseclass" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'',prompt:'请选择一个课程'" style="width:120px;height:32px">	
		<select name="status" class="easyui-combobox" style="height:32px;width:80px;">
			<option value="0">全部状态</option>
			<option value="1">待定</option>
		    <option value="2">待定</option>
		    <option value="3">待定</option>
		    <option value="4">待定</option>
		    <option value="0">待定</option>
		</select>
		<input name="keyname" class="easyui-textbox" data-options="prompt:'搜姓名、手机、微信号'" style="width:150px;height:32px">
		<input name="starttime" class="easyui-datebox" data-options="editable:false" style="width:120px;height:32px">-至-
		<input name="endtime" class="easyui-datebox" data-options="editable:false" style="width:120px;height:32px">
		<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:60px;height:32px">搜索</a>        
	</div>
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'name',width:80">会员</th>
	                <th data-options="field:'booktime',width:120">预约时间</th>
	                <th data-options="field:'cityname',width:100">城市</th>
	                <th data-options="field:'storename',width:100">门店</th>
	                <th data-options="field:'classroomname',width:100">教室</th>
	                <th data-options="field:'exercisename',width:100">课程</th>
	                <th data-options="field:'begintime',width:100">上课时间</th>
	                <th data-options="field:'status',width:100">状态</th>
	                <th data-options="field:'operation',width:100">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:0..number-1, as:'i'}
	        	<tr>
		            <td>${listMember[i].name}</td>
		            <td>${listBookExercise[i].booktime}</td>
		            <td>${listCity[i]}</td>          
		            <td>
		            #{if listBookExercise[i].type==0}
		            	${listTeamExerciseScheduleShow.get(listBookExercise[i].id).storename}
		            #{/if}
		            #{else}
		            	${listPrivateExerciseShow.get(listBookExercise[i].id).storename}
		            #{/else}
		            </td>
		            <td>
		            #{if  listBookExercise[i].type==0}
		            	${listTeamExerciseScheduleShow.get(listBookExercise[i].id).classroomname}
		            #{/if}
		            #{else}
		            	${listPrivateExerciseShow.get(listBookExercise[i].id).classroomname}
		            #{/else}
					</td>
		            <td>
		            #{if  listBookExercise[i].type==0}
		            	${listTeamExerciseScheduleShow.get(listBookExercise[i].id).teamexercisename}
		            #{/if}
		            #{else}
		            	${listPrivateExerciseShow.get(listBookExercise[i].id).name}
		            #{/else}
		            </td>
		            <td>
		            #{if listBookExercise[i].type==0}
		            	${listTeamExerciseScheduleShow.get(listBookExercise[i].id).begintime}
		            #{/if}
		            #{else}	
		            	${listPrivateExerciseShow.get(listBookExercise[i].id).classbegintime}
		            #{/else}
		            </td>
		            <td>状态</td>
		            <td>
		            	<a href="@{Application.deleteBookExercise(listBookExercise[i].id)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px;font-size:15px;font-weight:600;">
    	共${number}条记录
	</div>
	
</div>