<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">教室详情</div>
	
	#{form @Application.updateClassroomToDB(cr.id, cr.storeid)}
	<div style="margin-left:100px;">
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">教室名称：</span>
		<input name="name" class="easyui-textbox validatebox" data-options="required:true" value="${cr.name}" style="height:32px">
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">容纳人数：</span>
		<input name="holdnumber" class="easyui-numberbox validatebox" data-options="required:true" value="${cr.holdnumber}" style="height:32px">
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">用途：</span>
		#{if cr.usage==1}
		<input type="radio" name="usage" value="1" checked>团操
		#{/if}
		#{else}
		<input type="radio" name="usage" value="1">团操
		#{/else}
		#{if cr.usage==2}
		<input type="radio" name="usage" value="2" checked>私教
		#{/if}
		#{else}
		<input type="radio" name="usage" value="2">私教
		#{/else}
		</div>
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
	
</body>


</html>