#{extends 'main.html' /}

<div data-options="region:'center',split:false">

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">健身计划设置</div>
	
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:false">
	        <thead>
	            <tr>
	                <th data-options="field:'style',width:100">热身健身</th>
	                <th data-options="field:'operation',width:20">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        %{
	        	int num=0;
	        }%
	        #{list items:list1, as:'FitnessPlan'}
	        	<tr>
		            <td>${++num} : ${FitnessPlan.name}</td>
		            <td>
		            	<a href="@{Application.fitnessPlanDetail(FitnessPlan.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{Application.deleteFitnessPlan(FitnessPlan.id)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        <tr>
	        	<td>
	        		<a href="@{Application.addFitnessPlan(1)}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:120px;margin-left:400px;">增加项目</a>
	        	</td>
	        	<td></td>
	        </tr>
	        </tbody>
	    </table>
    </div>
  
  	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:false">
	        <thead>
	            <tr>
	                <th data-options="field:'style',width:100">器械健身</th>
	                <th data-options="field:'operation',width:20">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        %{ num=0; }%
	        #{list items:list2, as:'FitnessPlan'}
	        	<tr>
		            <td>${++num} : ${FitnessPlan.name}</td>
		            <td>
		            	<a href="@{Application.fitnessPlanDetail(FitnessPlan.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{Application.deleteFitnessPlan(FitnessPlan.id)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        <tr>
	        	<td>
	        		<a href="@{Application.addFitnessPlan(2)}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:120px;margin-left:400px;">增加项目</a>
	        	</td>
	        	<td></td>
	        </tr>
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:false">
	        <thead>
	            <tr>
	                <th data-options="field:'style',width:100">团操健身</th>
	                <th data-options="field:'operation',width:20">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        %{ num=0; }%
	        #{list items:list3, as:'FitnessPlanShow'}
	        	<tr>
		            <td>${++num} : ${FitnessPlanShow.teamexercisename}</td>
		            <td>
		            	<a href="@{Application.fitnessPlanDetail2(FitnessPlanShow.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{Application.deleteFitnessPlan(FitnessPlanShow.id)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        <tr>
	        	<td>
	        		<a href="@{Application.addFitnessPlan2(3)}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:120px;margin-left:400px;">增加项目</a>
	        	</td>
	        	<td></td>
	        </tr>
	        </tbody>
	    </table>
    </div>
	
</div>