#{extends 'main.html' /}

<div data-options="region:'center',split:false">

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">健身计划详情</div>
	
	#{form @Application.updateFitnessPlanToDB(sc.id), onsubmit:"return check()"}
	<div style="margin-left:100px;">
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">计划类别：</span>
		<select name="style" class="easyui-combobox" data-options="readonly:true" style="height:32px;width:100px;">
			#{if sc.style==1}
			<option value="1" selected>热身健身</option>
			#{/if}
			#{else}
			<option value="1">热身健身</option>
			#{/else}
			#{if sc.style==2}
			<option value="2" selected>器械健身</option>
			#{/if}
			#{else}
			<option value="2">器械健身</option>
			#{/else}
			#{if sc.style==3}
			<option value="3" selected>团操健身</option>
			#{/if}
			#{else}
			<option value="3">团操健身</option>
			#{/else}
		</select>
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">选择团操：</span>
		<input id="name" name="name" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllTeamExerciseScheduleAsJson()}',prompt:'团操名称、门店、教室、教练'" value="${sc.name}" style="width:350px;height:32px">
		</div>
		
		<div style="margin:20px">
		<span style="font-size:14px;display:inline-block;width:100px">适合人群：</span>
		#{if sc.fitsex==1}
		<input type="radio" name="fitsex" value="1" checked>男
		#{/if}
		#{else}
		<input type="radio" name="fitsex" value="1">男
		#{/else}
		#{if sc.fitsex==2}
		<input type="radio" name="fitsex" value="2" checked>女
		#{/if}
		#{else}
		<input type="radio" name="fitsex" value="2">女
		#{/else}
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">数量：</span>
		<span>男生体重（kg）</span> <span style="margin-left:70px">女生体重（kg）</span> <span style="margin-left:70px">数量</span><br/><br/>
		<div style="margin-left:100px">
		<input name="geshu1" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.geshu1}" style="width:60px;height:32px">-
		<input name="geshu2" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.geshu2}" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="geshu3" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.geshu3}" style="width:60px;height:32px">-
		<input name="geshu4" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.geshu4}" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="geshu5" class="easyui-numberbox" data-options="required:true,showSeconds:false" value="${sc.geshu5}" style="width:60px;height:32px">个
		</div>
		<br/>
		<div style="margin-left:100px">
		<input name="fenzhong1" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.fenzhong1}" style="width:60px;height:32px">-
		<input name="fenzhong2" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.fenzhong2}" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="fenzhong3" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.fenzhong3}" style="width:60px;height:32px">-
		<input name="fenzhong4" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.fenzhong4}" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="fenzhong5" class="easyui-numberbox" data-options="required:true,showSeconds:false" value="${sc.fenzhong5}" style="width:60px;height:32px">min
		</div>
		<br/>
		<div style="margin-left:100px">
		<input name="keshu1" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.keshu1}"  style="width:60px;height:32px">-
		<input name="keshu2" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.keshu2}" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="keshu3" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.keshu3}" style="width:60px;height:32px">-
		<input name="keshu4" class="easyui-numberbox" data-options="precision:2,required:true,showSeconds:false" value="${sc.keshu4}" style="width:60px;height:32px"><span style="display:inline-block;width:20px"></span>
		<input name="keshu5" class="easyui-numberbox" data-options="required:true,showSeconds:false" value="${sc.keshu5}" style="width:60px;height:32px">课
		</div>
		</div>
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
	#{/form}
	
	
</div>

<script>
function check() {
	var v;
	v = $("#name").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>