#{extends 'main.html' /}

<div data-options="region:'center',split:false">

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">团购活动详情</div>
	
#{form @Application.updateGroupbuyToDB(sc.id)}
	<div style="margin-left:100px;">
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">团购网站：</span>
		<input name="groupwebsiteid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllGroupWebsite()}'" value="${sc."groupwebsiteid"}" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">所属门店：</span>
		<input name="storeid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllStore()}'" value="${sc.storeid}" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">团购价格：</span>
		<input name="price" class="easyui-numberbox" data-options="required:true,missingMessage:'必填项'" value="${sc.price}" style="height:32px">元/
		<input name="times" class="easyui-numberbox" data-options="required:true,missingMessage:'必填项'" value="${sc.times}" style="height:32px">次
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">开始时间：</span>
		<input name="starttime" class="easyui-datetimebox" data-options="required:true,missingMessage:'必填项',showSeconds:false" value="${sc.starttime}" style="height:32px">
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">结束时间：</span>
		<input name="endtime" class="easyui-datetimebox" data-options="required:true,missingMessage:'必填项',showSeconds:false" value="${sc.endtime}" style="height:32px">
		</div>
		
		<div style="margin:10px">
		<span style="font-size:14px;display:inline-block;width:100px">团购介绍：</span>
		<textarea name="introduce" rows="8" cols="30">${sc.introduce}</textarea>
		</div>
		
		<div style="margin:10px;">
		<span style="font-size:14px;display:inline-block;width:100px">团购网址：</span>
		<input name="weburl" class="easyui-textbox" data-options="required:true,missingMessage:'必填项'" value="${sc.weburl}" style="height:32px">
		</div>
		
		<div style="margin-left:100px;">
		<input type="submit" style="width:80px;height:32px">
		</div>
		
	</div>
#{/form}
	
	
</div>