<!DOCTYPE html>

<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>智能健身房</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
		<!-- Iconos -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="@{'/public/css3-ver-accordion-menu/css/style.css'}" media="screen" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
		<script src="@{'/public/css3-ver-accordion-menu/js/index.js'}"></script>
    </head>
    
    <body class="easyui-layout">
    	<div data-options="region:'north'" style="height:10%;background-color:#e0ebeb;">
			<h2 style="text-align:center;margin-top:10px;font-size:40px;"><a href="@{Application.indexFen()}">喵呜智能健身（分店系统）</a><span style="position:absolute;right:20px;font-size:15px;"><a href="@{Application.login()}"></a> | <a href="@{Application.logout()}">登出</a></span></h2>
		</div>
		
	    <div data-options="region:'south'" style="height:5%;background-color:#e0ebeb;">
			<h6 style="text-align:center;margin-top:5px;">©技术支持 2016，<a href="http://www.njcool.cn/">南京酷傲信息科技有限公司</a> | 联系我们：025-86660526</h6>	
		</div>
		
		<div data-options="region:'west'" style="width:20%;background-color:#e0ebeb;">
			<ul id="accordion" class="accordion">
				<li>
					<div class="link">分店会员管理</div>
					<ul class="submenu">
						<li><a href="@{MemberApplication.MemberBasicFen(storeid)}" target="iframe_a">分店普通会员信息</a></li>
						<li><a href="@{MemberApplication.MemberSpecialFen(storeid)}" target="iframe_a">分店课程卡成员信息</a></li>
					</ul>
				</li>
				<li>
					<div class="link">分店课程管理</div>
					<ul class="submenu">
						<li><a href="@{CourseApplication.teamExerciseWeekFen(storeid)}" target="iframe_a">分店本周课程 </a></li>
						<li><a href="@{CourseApplication.teamExerciseMonthFen(storeid)}" target="iframe_a">分店本月课程 </a></li>
					</ul>
				</li>
				<li>
					<div class="link">分店预约管理</div>
					<ul class="submenu">
						<li><a href="@{BookApplication.BookTeamExerciseScheduleDisplayFen(storeid)}" target="iframe_a">分店课程预约 </a></li>
					</ul>
				</li>
				<li>
					<div class="link">分店财务管理</div>
					<ul class="submenu">
						<li><a href="@{FinanceApplication.PurchaseHistoryMonthFen(storeid)}" target="iframe_a">分店本月收入</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div data-options="region:'center',split:false" style="background-color:#e0ebeb;">
			<iframe src="@{Application.indexpic()}" name="iframe_a" frameborder="0" width="100%" height="99%">
			</iframe>
		</div>
		
    </body>
</html>

	
