<!DOCTYPE html>

<html>
    <head>
    
    </head>
    
    <body style="background-color:#99ddff">
    
    <div style="margin:250px;">
    #{form @Application.check()}
    	<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">用户名：</span>
		<input name="username" class="easyui-textbox" data-options="required:true" style="height:32px">
		</div>
		
		<div style="margin:20px;">
		<span style="font-size:14px;display:inline-block;width:100px">密码：</span>
		<input name="password" class="easyui-textbox" type="password" data-options="required:true" style="height:32px">
		</div>
		
		<div style="margin-left:100px;margin-top:30px">
		<input type="submit" style="width:100px;height:50px" value="登录">
		</div>
    #{/form}
    </div>
    
    </body>
</html>