<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">会员设置</div>
	
	<div style="margin:20px">
		#{form @Application.MemberSearch()}
		<input name="acityid" class="easyui-combobox" data-options="editable:false,valueField:'id',textField:'name',url:'@{Application.getAllCity()}',prompt:'请选择一个城市'" style="width:120px;height:32px">
		<select name="acardtype" class="easyui-combobox" style="height:32px;width:100px;">
			<option value="5">全部卡种类</option>
			<option value="1">月卡</option>
		    <option value="2">季卡</option>
		    <option value="3">半年卡</option>
		    <option value="4">年卡</option>
		    <option value="0">非会员</option>	<!-- 这里特殊，0是非会员，所以全部种类用了5 -->
		</select>
		<input name="keyname" class="easyui-textbox" data-options="prompt:'搜姓名、微信名、手机号'" style="height:32px">
		<input type="submit" style="width:80px;height:32px" value="搜索">        
		#{/form}
	</div>
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'name',width:80">姓名</th>
	                <th data-options="field:'wechatname',width:100">微信名</th>
	                <th data-options="field:'phone',width:100">电话</th>
	                <th data-options="field:'fingerprinttype',width:100">指纹录入</th>
	                <th data-options="field:'comeinpassword',width:100">入场密码</th>
	                <th data-options="field:'cityname',width:100">所在城市</th>
	                <th data-options="field:'offenstorename',width:100">常去门店</th>
	                <th data-options="field:'cardtype',width:100">会员种类</th>
	                <th data-options="field:'operation',width:100">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:lists, as:'MemberShow'}
	        	#{if MemberShow.openid != "baojieayi"}
	        	<tr>
		            <td>${MemberShow.name}</td>
		            <td>${MemberShow.wechatname}</td>
		            <td>${MemberShow.phone}</td>          
		            <td>${MemberShow.fingerprinttype}</td>
		            <td>${MemberShow.comeinpassword}</td>
		            <td>${MemberShow.cityname}</td>
		            <td>${MemberShow.offenstorename}</td>
		            <td>${MemberShow.cardtypename}</td>
		            <td>
		            	<a href="@{Application.MemberDetail(MemberShow.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{Application.deleteMember(MemberShow.id)}" class="easyui-linkbutton" data-options="" style="" onClick="return confirmdelete()">删除</a>
		            	<a href="@{Application.modifyMemberDeaddate(MemberShow.id)}" class="easyui-linkbutton" data-options="" style="">编辑</a>
		            </td>
		        </tr>
		        #{/if}
	        #{/list}
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px;font-size:15px;font-weight:600;">
    	共${number-1}条记录
	</div>
	
</body>

<script>
function confirmdelete(){
	var gnl=confirm("信息一旦删除就没有了，你真的确定要删除吗?"); 
	if (gnl==true){ 
		return true; 
	} else {
		return false;
	}
}
</script>

</html>