<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div class="easyui-layout" data-options="fit:true">
		
		<div data-options="region:'west',title:'个人信息',collapsible:false" style="width:50%;">
			<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">会员详情</div>
			<div style="margin-left:100px;">
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">姓名：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.name}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">微信名称：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.wechatname}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">微信号码：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.wechatnumber}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">性别：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.sexvalue}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">身高：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.height}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">生日：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.birthday}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">电话：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.phone}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">指纹录入：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.fingerprinttype}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">入场密码：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.comeinpassword}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">所在城市：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.cityname}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">常去门店：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.offenstorename}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">会员种类：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.cardtypename}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">健身目标：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.exercisegoalvalue}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">BMI：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.bmi}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">肌肉率：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.muscle}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">脂肪：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.fat}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">内脏脂肪：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.innerfat}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">水分：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.water}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">蛋白质：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.protein}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">基础代谢率：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.basicrate}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">身体年龄：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.bodyage}" style="">
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">体能测试：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.fitnesstest}" style="">
				<a href="@{Application.MemberFitnessTestEdit(sc.id)}" class="easyui-linkbutton" data-options="" style="">编辑</a>
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">会员状态：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.memberstatus}" style="">
				<a href="@{Application.MemberStatusEdit(sc.id)}" class="easyui-linkbutton" data-options="" style="">编辑</a>
				</div>
				
				<div style="margin:5px;">
				<span style="font-size:14px;display:inline-block;width:100px">剩余课时数：</span>
				<input name="" class="easyui-textbox" data-options="readonly:true" value="${sc.leftcoursenum}" style="">
				<a href="@{Application.MemberLeftcoursenumEditPage(sc.id)}" class="easyui-linkbutton" data-options="" style="">编辑</a>
				</div>
				
			</div>
		</div>
		
		<div data-options="region:'center',title:'锻炼信息'" style="">
			
			<div style="background-color:#e5ffb3;font-size:14px;font-weight:600;padding:10px;">购卡信息</div>
			<div style="margin:10px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
			        <thead>
			            <tr>
			                <th data-options="field:'cardtypename',width:150">卡类型</th>
			                <th data-options="field:'deaddate',width:150">到期时间</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr>
				            <td>${sc.cardtypename}</td>
				            <td>${sc.deaddate}</td>
				        </tr>
			        </tbody>
			    </table>
		    </div>
		    
			<div style="background-color:#e5ffb3;font-size:14px;font-weight:600;padding:10px;">到店状态</div>
			<div style="margin:10px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
			        <thead>
			            <tr>
			                <th data-options="field:'daodian',width:150">到店</th>
			                <th data-options="field:'lidian',width:150">离开</th>
			            </tr>
			        </thead>
			        <tbody>
			        	#{if inOutTmNum > 0}
			        	#{list items:0..inOutTmNum-1, as:'i'}
			        	<tr>
				            <td>#{if i < listIn.size()}
				            	${listIn.get(i)}
				            	#{/if}
				            </td>
				            <td>
				            	#{if i < listOut.size()}
				            	${listOut.get(i)}
				            	#{/if}
				            </td>
				        </tr>
				        #{/list}
				        #{/if}
			        </tbody>
			    </table>
		    </div>
		    
			<div style="background-color:#e5ffb3;font-size:14px;font-weight:600;padding:10px;">团操课程</div>
			<div style="margin:10px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
			        <thead>
			            <tr>
			                <th data-options="field:'name',width:150">课程</th>
			                <th data-options="field:'employeename',width:150">教练</th>
			                <th data-options="field:'status',width:150">状态</th>
			            </tr>
			        </thead>
			        <tbody>
			        #{list items:listtes, as:'TeamExerciseScheduleShow'}
			        	<tr>
				            <td>${TeamExerciseScheduleShow.teamexercisename}</td>
				            <td>${TeamExerciseScheduleShow.employeename}</td>
				            <td></td>
				        </tr>
				    #{/list}
			        </tbody>
			    </table>
		    </div>
		    
			<div style="background-color:#e5ffb3;font-size:14px;font-weight:600;padding:10px;">特训课程</div>
			<div style="margin:10px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
			        <thead>
			            <tr>
			                <th data-options="field:'name',width:150">课程</th>
			                <th data-options="field:'employeename',width:150">教练</th>
			                <th data-options="field:'status',width:150">状态</th>
			            </tr>
			        </thead>
			        <tbody>
			        #{list items:listpe, as:'PrivateExerciseShow'}
			        	<tr>
				            <td>${PrivateExerciseShow.name}</td>
				            <td>${PrivateExerciseShow.employeename}</td>
				            <td></td>
				        </tr>
				    #{/list}
			        </tbody>
			    </table>
		    </div>
		    
		    <div style="background-color:#e5ffb3;font-size:14px;font-weight:600;padding:10px;">体能测试</div>
			<div style="margin:10px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:false">
			        <thead>
			            <tr>
			                <th data-options="field:'xiongwei',width:100">胸围</th>
			                <th data-options="field:'yaowei',width:100">腰围</th>
			                <th data-options="field:'tunwei',width:100">臀围</th>
			                <th data-options="field:'shangtunwei',width:100">上臀围</th>
			                <th data-options="field:'datuiwei',width:100">大腿围</th>
			                <th data-options="field:'xiaotuiwei',width:100">小腿围</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr>
			        		<td>${mft.xiongwei}</td>
			        		<td>${mft.yaowei}</td>
			        		<td>${mft.tunwei}</td>
			        		<td>${mft.shangtunwei}</td>
			        		<td>${mft.datuiwei}</td>
			        		<td>${mft.xiaotuiwei}</td>
			        	</tr>
			        </tbody>
			    </table>
			    <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:false">
			        <thead>
			            <tr>
			                <th data-options="field:'testcontent',width:200,align:'left'">测试内容</th>
			                <th data-options="field:'testdata',width:200">数据</th>
			            </tr>
			        </thead>
					<tbody>
						<tr>
							<td>引体向上（男）</td>
							<td>${mft.pullup}</td>
						</tr>
						<tr>
							<td>俯卧撑（男）</td>
							<td>${mft.pushup}</td>
						</tr>
						<tr>
							<td>平板支撑（男）</td>
							<td>${mft.plank}</td>
						</tr>
						<tr>
							<td>坐位体前屈</td>
							<td>${mft.sitandreach}</td>
						</tr>
						<tr>
							<td>蹲起</td>
							<td>${mft.squatandrise}</td>
						</tr>
						<tr>
							<td>仰卧起坐（女）</td>
							<td>${mft.situp}</td>
						</tr>
						<tr>
							<td>哈佛台阶试验</td>
							<td></td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;&nbsp;--第1min心率</td>
							<td>${mft.heartrateone}</td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;&nbsp;--第2min心率</td>
							<td>${mft.heartratetwo}</td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;&nbsp;--第3min心率</td>
							<td>${mft.heartratethree}</td>
						</tr>
					</tbody>
				</table>
		    </div>
		    
		    
		    
		    
		    
		</div>
		
	</div>
	
</body>


</html>