
<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">门店信息详情</div>
	
	<table border="0">
	<tr>
	<td>
		#{form @Application.updateStoreToDB(sc.id), onsubmit:"return check()", enctype:'multipart/form-data'}
		<div style="margin-left:100px;">
			
			<div style="margin:5px;">
			<span style="font-size:14px;display:inline-block;width:100px">门店城市：</span>
			<input id="cityid" name="cityid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllCity()}'" value="${sc?.cityid}" style="height:32px">
			</div>
			
			<div style="margin:5px;">
			<span style="font-size:14px;display:inline-block;width:100px">门店名称：</span>
			<input id="name" name="name" class="easyui-textbox" data-options="required:true" value="${sc?.name}" style="height:32px">
			</div>
			
			<div style="margin:5px;">
			<span style="font-size:14px;display:inline-block;width:100px">门店地址：</span>
			<input id="address" name="address" class="easyui-textbox" data-options="required:true" value="${sc?.address}" style="height:32px">
			</div>
			
			<div style="margin:5px">
			<span style="font-size:14px;display:inline-block;width:100px">门店面积：</span>
			<input id="area" name="area" class="easyui-numberbox" data-options="required:true,precision:2" value="${sc?.area}" style="height:32px"> 平方米
			</div>
			
			<div style="margin:5px">
			<span style="font-size:14px;display:inline-block;width:100px">相册：</span>
			<input id="photofile" name="photofile" class="easyui-filebox" data-options="buttonText:'上传图片'" value="${sc?.photo}" style="height:32px">
			<input id="photo" name="photo" type="hidden" value="${sc?.photo}">
			</div>
			
			<div style="margin:5px">
			<span style="font-size:14px;display:inline-block;width:100px">联系人：</span>
			<input id="manager" name="manager" class="easyui-textbox" data-options="required:true" value="${sc?.manager}" style="height:32px">
			</div>
			
			<div style="margin:5px">
			<span style="font-size:14px;display:inline-block;width:100px">联系方式：</span>
			<input id="phone" name="phone" class="easyui-textbox" data-options="required:true" value="${sc?.phone}" style="height:32px">
			</div>
			
			<div style="margin-left:100px;">
			<input type="submit" style="width:80px;height:32px" value="确定更新">
			</div>
			
		</div>
		#{/form}
	</td>
	<td valign="top">
		<img src="/public/images/${sc.photo}" alt="门店图像" width="200" height="200" style="margin:20px">
	</td>
	<tr>
	</table>
		
	<div style="margin-top:5px;background-color:#e5ffb3;font-size:14px;padding:5px">教室信息<a href="@{Application.addClassroom(sc.id)}" style="font-weight:600;position:absolute;right:20px;">增加教室</a></div>
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'name',width:100">教室名称</th>
	                <th data-options="field:'holdnumber',width:100">容纳人数</th>
	                <th data-options="field:'usage',width:100">用途</th>
	                <th data-options="field:'operation',width:100">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:listcr, as:'classroom'}
	        	<tr>
		            <td>${classroom.name}</td>
		            <td>${classroom.holdnumber}</td>
		            #{if classroom.usage==1}
		            <td>团操</td>
		            #{/if}
		            #{if classroom.usage==2}
		            <td>私教</td>
		            #{/if}
		            #{if classroom.usage!=1 && classroom.usage!=2}
		            <td>未设置</td>
		            #{/if}
		            <td>
		            	<a href="@{Application.classroomDetail(classroom.id)}" class="easyui-linkbutton" data-options="" style="">修改</a>
		            	<a href="@{Application.deleteClassroom(classroom.id, classroom.storeid)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        </tbody>
	    </table>
    </div>

</body>

<script>
function check() {
	var v;
	v = $("#cityid").combobox("getValue"); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#name").val(); 
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#address").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#area").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
//图片可不传	
//	v = $("#photofile").filebox("getValue"); 
//	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#manager").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	v = $("#phone").val();
	if (v==null || v=="") { alert("输入不完整！"); return false; }
	return true;
}
</script>

</html>
