<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>
</head>
    
<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">门店设置</div>
	
	<div style="margin:20px">
		<input name="cityid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'@{Application.getAllCity()}',prompt:'请选择一个城市'" style="height:32px">
	    <input name="storename" class="easyui-textbox" data-options="prompt:'搜索门店名称关键字'" style="height:32px">
		<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px;height:32px">搜索</a>        
	    <a href="@{Application.addStore()}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:80px;height:32px;position:absolute;right:20px;">增加门店</a>
	</div>
	
	<div style="margin:20px">
        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
	        <thead>
	            <tr>
	                <th data-options="field:'cityname',width:80">城市</th>
	                <th data-options="field:'name',width:120">门店名称</th>
	                <th data-options="field:'address',width:120">地址</th>
	                <th data-options="field:'manager',width:60">店长</th>
	                <th data-options="field:'phone',width:100">联系方式</th>
	                <th data-options="field:'operation',width:80">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        #{list items:listsc, as:'storecity'}
	        	<tr>
		            <td>${storecity.cityname}</td>
		            <td>${storecity.name}</td>
		            <td>${storecity.address}</td>
		            <td>${storecity.manager}</td>
		            <td>${storecity.phone}</td>
		            <td>
		            	<a href="@{Application.storeDetail(storecity.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
		            	<a href="@{Application.deleteStore(storecity.id)}" class="easyui-linkbutton" data-options="" style="">删除</a>
		            </td>
		        </tr>
	        #{/list}
	        </tbody>
	    </table>
    </div>
    
    <div style="margin:20px;font-size:15px;font-weight:600;">
    	共${number}条记录
	</div>

</body>
</html>
