<!DOCTYPE html>

<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/default/easyui.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui-1.4.4/themes/icon.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
         
        <script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/jquery.easyui.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js'}"></script>

		<style>
		    .datagrid-body td{
		        vertical-align: top;
		    }
		</style>
</head>

<body>

	<div style="background-color:#e5ffb3;font-size:15px;font-weight:600;padding:15px;">团操课程和排期设置</div>
	
	<div id="tt" class="easyui-tabs" data-options="fit:true,justified:true" >
		
		<div title="本周团操课表" style="">
			<div style="margin:20px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true">
			        <thead>
			            <tr>
			                <th data-options="field:'monday',width:80">星期一</th>
			                <th data-options="field:'tuesday',width:80">星期二</th>
			                <th data-options="field:'wednesday',width:80">星期三</th>
			                <th data-options="field:'thirsday',width:80">星期四</th>
			                <th data-options="field:'friday',width:80">星期五</th>
			                <th data-options="field:'saturday',width:80">星期六</th>
			                <th data-options="field:'sunday',width:80">星期七</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr>
				            <td>
				            #{list items:mapweek.get(1), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
				            <td>
				            #{list items:mapweek.get(2), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
				            <td>
				            #{list items:mapweek.get(3), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
				            <td>
				            #{list items:mapweek.get(4), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
				            <td>
				            #{list items:mapweek.get(5), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
				            <td>
				            #{list items:mapweek.get(6), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
				            <td>
				            #{list items:mapweek.get(7), as:'TeamExerciseScheduleShow'}
				            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
				            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
				            	门店：${TeamExerciseScheduleShow.storename}<br/>
				            	教练：${TeamExerciseScheduleShow.employeename}<br/>
				            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
				            #{/list}
				            </td>
			        	</tr>
			        </tbody>
			    </table>
		    </div>
		</div>
		
		<div title="本月团操课表" style="">
			<div style="margin:20px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true">
			        <thead>
			            <tr>
			                <th data-options="field:'monday',width:80">星期${(num-1)%7+1}</th>
			                <th data-options="field:'tuesday',width:80">星期${(++num-1)%7+1}</th>
			                <th data-options="field:'wednesday',width:80">星期${(++num-1)%7+1}</th>
			                <th data-options="field:'thirsday',width:80">星期${(++num-1)%7+1}</th>
			                <th data-options="field:'friday',width:80">星期${(++num-1)%7+1}</th>
			                <th data-options="field:'saturday',width:80">星期${(++num-1)%7+1}</th>
			                <th data-options="field:'sunday',width:80">星期${(++num-1)%7+1}</th>
			            </tr>
			        </thead>
			        <tbody>
			        	%{ int kkk = 0; }%
			        	%{ for (int i=1; i<=5; i++) { }%
			        	<tr>
			        		%{ for (int j=1; j<=7; j++) { }%
			        			<td>
			        			%{ ++kkk; }%
			        			#{if kkk<=31}
			        				<span style="color:#00bfff">${kkk}号</span><br/><br/>
			        			#{/if}
		        				#{list items:mapmonth.get(kkk), as:'TeamExerciseScheduleShow'}
					            	时间：${TeamExerciseScheduleShow.begintime.substring(11,16)} -至-
					            	${TeamExerciseScheduleShow.endtime.substring(11,16)}<br/>
					            	门店：${TeamExerciseScheduleShow.storename}<br/>
					            	教练：${TeamExerciseScheduleShow.employeename}<br/>
					            	课程：${TeamExerciseScheduleShow.teamexercisename}<br/><br/>
					            #{/list}
			        			</td>
			        		%{ } }%
			        	</tr>
			        	%{ } }%
			      	</tbody>
			    </table>
			</div>
			<div style="margin:20px;font-size:15px;font-weight:600;">
		    	---
			</div>
		</div>
		
		<div title="团操排期" data-options="selected:true" >
			<div style="margin:20px">
				#{form @Application.TeamExerciseScheduleSearch()}
				<input id="storeid" name="storeid" class="easyui-combobox" data-options="
					editable:false,
					valueField:'id',
					textField:'name',
					url:'@{Application.getAllStore()}',
					prompt:'请选择一个门店',
					onSelect: function(record){
			            url = '@{Application.getAllCoachByStoreID()}?storeid=' + record.id;
			            $('#employeeidq').combobox('reload', url);
		        	}"  style="height:32px">
				<input id="employeeidq" name="employeeid" class="easyui-combobox" data-options="editable:false,valueField:'id',textField:'name',prompt:'请选择一个教练'" style="height:32px">
				<select name="yearmonth" class="easyui-combobox" style="height:32px;width:120px;">
					<option value="">全部年月</option>
					<option value="2016-03">2016年03月</option>
					<option value="2016-04">2016年04月</option>
					<option value="2016-05">2016年05月</option>
				    <option value="2016-06">2016年06月</option>
				    <option value="2016-07">2016年07月</option>
					<option value="2016-08">2016年08月</option>
					<option value="2016-09">2016年09月</option>
				    <option value="2016-10">2016年10月</option>
				    <option value="2016-11">2016年11月</option>
					<option value="2016-12">2016年12月</option>
					<option value="2017-01">2017年01月</option>
				    <option value="2017-02">2017年02月</option>
				</select>
				<input type="submit" style="width:80px;height:32px" value="搜索">    
				<a href="@{Application.addTeamExerciseSchedule()}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:120px;height:32px;margin-left:450px;">增加排期</a>
				#{/form}
			</div>
			
			<div style="margin:20px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
			        <thead>
			            <tr>
			                <th data-options="field:'teamexercisename',width:80">课程名称</th>
			                <th data-options="field:'employeename',width:80">教练</th>
			                <th data-options="field:'storename',width:80">门店</th>
			                <th data-options="field:'classroomname',width:80">教室</th>
			                <th data-options="field:'begintime',width:80">开始时间</th>
			                <th data-options="field:'endtime',width:80">结束时间</th>
			                <th data-options="field:'oknum_num',width:80">预约人数</th>
			                <th data-options="field:'operation',width:80">操作</th>
			            </tr>
			        </thead>
			        <tbody>
			        #{list items:listtt, as:'TeamExerciseScheduleShow'}
			        	<tr>
				            <td>${TeamExerciseScheduleShow.teamexercisename}</td>
				            <td>${TeamExerciseScheduleShow.employeename}</td>
				            <td>${TeamExerciseScheduleShow.storename}</td>
				            <td>${TeamExerciseScheduleShow.classroomname}</td>
				            <td>${TeamExerciseScheduleShow.begintime}</td>
				            <td>${TeamExerciseScheduleShow.endtime}</td>
				            <td>${TeamExerciseScheduleShow.oknum}/${TeamExerciseScheduleShow.num}</td>
				            <td>
				            	<a href="@{Application.TeamExerciseScheduleDetail(TeamExerciseScheduleShow.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
				            	<a href="@{Application.deleteTeamExerciseSchedule(TeamExerciseScheduleShow.id)}" class="easyui-linkbutton" data-options="" style="" onClick="return confirmdelete()">删除</a>
				            </td>
				        </tr>
			        #{/list}
			        </tbody>
			    </table>
		    </div>
		    
		    <div style="margin:20px;font-size:15px;font-weight:600;">
		    	共${bbb}条记录
			</div>
			<div style="margin:20px;font-size:15px;font-weight:600;">
		    	---
			</div>
	    </div>
	    
		<div title="团操课程" style="">
			<div style="margin:20px">
			    <a href="@{Application.addTeamExercise()}" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="width:120px;height:32px;">增加团操</a>
			</div>
			
			<div style="margin:20px">
		        <table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,striped:true,rownumbers:true">
			        <thead>
			            <tr>
			                <th data-options="field:'name',width:80">课程名称</th>
			                <th data-options="field:'usedtime',width:80">时长</th>
			                <th data-options="field:'operation',width:80">操作</th>
			            </tr>
			        </thead>
			        <tbody>
			        #{list items:lists, as:'TeamExercise'}
			        	<tr>
				            <td>${TeamExercise.name}</td>
				            <td>${TeamExercise.usedtime}</td>
				            <td>
				            	<a href="@{Application.teamExerciseDetail(TeamExercise.id)}" class="easyui-linkbutton" data-options="" style="">详情</a>
				            	<a href="@{Application.deleteTeamExercise(TeamExercise.id)}" class="easyui-linkbutton" data-options="" style="" onClick="return confirmdelete()">删除</a>
				            </td>
				        </tr>
			        #{/list}
			        </tbody>
			    </table>
		    </div>
		    
		    <div style="margin:20px;font-size:15px;font-weight:600;">
		    	共${aaa}条记录
			</div>
			<div style="margin:20px;font-size:15px;font-weight:600;">
		    	---
			</div>
	    </div>
	    
	</div>
  
<script type="text/javascript">
$(function(){
    var tabs = $('#tt').tabs().tabs('tabs');
    for(var i=0; i<tabs.length; i++){
        tabs[i].panel('options').tab.unbind().bind('mouseenter',{index:i},function(e){
            $('#tt').tabs('select', e.data.index);
        });
    }
});

function confirmdelete(){
	var gnl=confirm("信息一旦删除就没有了，你真的确定要删除吗?"); 
	if (gnl==true){ 
		return true; 
	} else {
		return false;
	}
}
</script>
    
</body>
</html>